<footer  class="page-footer font-small relative-bottom   pt-4" style="background-color: black;">
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <div class="col-md-6 mt-md-0 mt-3">
      
              <h5 class="text-uppercase" style="color: blanchedalmond;">We are here for you!!</h5>
              <p style="color: blanchedalmond;">Feel free to ask at any time!!</p>
      
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-3 mb-md-0 mb-3">
      
              
              <ul class="list-unstyled">
                <li>
                    <h5 class="text-uppercase" style="color: blanchedalmond;">about us</h5>
                </li>
                <li>
               <p style="color: blanchedalmond;">    <i class="em em-calling" aria-role="presentation" aria-label="MOBILE PHONE WITH RIGHTWARDS ARROW AT LEFT"></i>+12342535
        &#9993;s123@gmail.com</p>
  
                
              </ul>
      
            </div>
      
            <div class="col-md-3 mb-md-0 mb-3">
      
              
      
              <ul class="list-unstyled">
                <li>
                    <h5 class="text-uppercase" style="color: blanchedalmond;">follow us on</h5>  </li>
                <li>
                    <label style="color: blanchedalmond;">Facebook</label>
                </li>
                <li>
                    <label style="color: blanchedalmond;">Instagram</label>
                </li>
               
              </ul>
      
            </div>
            </div>
    </div>
    <div class="footer-copyright text-center py-3" style="color: blanchedalmond;">© 2020 Copyright:
        <a href="http://salu2303.github.io/" style="color: blanchedalmond;"> Saloni</a>
      </div>
</footer>