<app-navstu></app-navstu><main>
<br>
<body>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <table class="table table-dark table-hover">


                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <td> {{admin.stu_name}}</td>
                    </tr>
                    <tr>
                        <th scope="col">Password</th>
                        <td> {{admin.stu_pswd}}</td>

                    </tr>
                    <tr>
                        <th scope="col">Branch</th>
                        <td> {{admin.stu_branch}}</td>

                    </tr>
                    <tr>
                      <th scope="col">Semester</th>
                      <td> {{admin.stu_sem}}</td>

                  </tr>
                                  </thead>

            </table>
        </div>
    </div>


</body></main>
<app-footer></app-footer>