.card{
    margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
#d:hover{
    background-color:white;
    color: black;
    box-shadow: 0 4px gray;
}
#d{
    color:coral;
}
#dd:hover{
    background-color:white;
    color: black;
    box-shadow: 0 4px gray;
}
#dd{
    color:whitesmoke;
}
body{
    background-color: teal;
}