<app-navadmin></app-navadmin>
<body>
    <div class="container " style="margin-left: 0px;">
        <br>
        <div class="row">
            <div class="col-md-3 " style="background-color: black;height: 650px;">
                <br>
                <div class="row">
                    <div class="col">
                        <a id="d" class="nav-link text-center" routerLink="/addstudent" id="dd" >ADD STUDENT <span
                                class="sr-only">(current)</span></a>
                        <div class="dropdown-divider"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <a class="nav-link text-center" routerLink="/remstudent" id="dd">REMOVE STUDENT
                            <span class="sr-only">(current)</span></a>
                        <div class="dropdown-divider"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <a class="nav-link text-center" routerLink="/addfaculty" id="d">ADD FACULTY
                            <span class="sr-only">(current)</span></a>
                        <div class="dropdown-divider"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <a class="nav-link text-center" routerLink="/remfaculty" id="dd">REMOVE FACULTY
                            <span class="sr-only">(current)</span></a>
                        <div class="dropdown-divider"></div>
    
                        <!--     <a href="remfaculty.html" class=" btn btn-primary btn-lg btn-block" role="button">REMOVE FACULTY</a>-->
    
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <a class="nav-link text-center" routerLink="/addann" id="dd">UPLOAD NOTICE
                            <span class="sr-only">(current)</span></a>
                        <div class="dropdown-divider"></div>
    
                        <!-- <a href="addann.html" class=" btn btn-primary btn-lg btn-block" role="button">UPLOAD NOTICE </a>-->
    
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <a class="nav-link text-center" routerLink="/viewdet" id="dd">VIEW DETAILS <span
                                class="sr-only">(current)</span></a>
                        <div class="dropdown-divider"></div>
    
                        <!-- <a href="#" class=" btn btn-primary btn-lg btn-block" role="button">VIEW DETAILS </a>-->
    
                    </div>
                </div>
                <br>
                </div>
                
            <div class="col-md-9 ">
    
                <table>
                    <br>
    
                    <tr>
                        <td class="text-center">
                            <p id="dem"> <b style="font-size: x-large;">ENTER FACULTY'S DETAILS HERE</b></p>
                        </td>
                    </tr>
                    <tr>
    
                        <td>
                            <div class="form-group">
    
                                <input type="text" class="form-control form-control-lg" [(ngModel)]="name"
                                    placeholder="Enter Facultyname" required>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <div class="form-group">
    
                                <input type="text" class="form-control form-control-lg"  [(ngModel)]="pswd"
                                    placeholder="Enter password" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
    
                                <input type="text" class="form-control form-control-lg" [(ngModel)]="sub"
                                    placeholder="Enter subject" required>
                            </div>
                        </td>
                    </tr>
                   
                    <tr>
                        <td>
                            <div class="form-row">
                                <div class="col">
                                    <label><b>Select Department</b></label>
                                    <select class="form-control form-control-lg" [(ngModel)]="branch">
                                        <option>CE</option>
                                        <option>IT</option>
                                        <option>CHEM</option>
                                        <option>EC</option>
                                        <option>IC</option>
                                        <option>MECH</option>
                                        <option>CIVIL</option>
    
                                    </select><br>
                                </div>
                                
                                <div class="col">
                                    <label><b>Select Semester</b></label>
                                       
                                    <select class="form-control form-control-lg" [(ngModel)]="sem">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
    
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            <br>
                            <a  (click)="addfac({'fac_name':name,'fac_pswd':pswd,'fac_branch':branch,'fac_sem':sem,'fac_sub':sub})" class="btn btn-success btn-block btn-lg " role="button">ADD FACULTY</a>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="do" style="color:darkred;font-size: large;;"></p>
                        </td>
                    </tr>
    
                    </table>
                    </div>
    
    
    
            
        </div>
    </div>
    </body>
    <app-footer></app-footer>