<app-navfac></app-navfac><br>
        <br>
    <div class="container-fluid text-center ">
        <label style="font-weight: bolder;">Upload lecture Matreials and <br> text-books here!!</label>   <br> 
         
                <a href="uldf.html" class="btn btn-lg btn-outline-primary" style="color: black;" role="button">Advanced Technology</a>
    
            
             <br>
                <a href="uldf.html" class="btn  btn-lg  btn-outline-primary" style="color: black;" role="button">Advanced Algorithm</a>
    <br>
            <a href="uldf.html" class="btn btn-lg btn-outline-primary" style="color: black;" role="button">Operating System</a>
             <br>  <a href="testsemf.html" class="btn  btn-lg active btn-outline-primary" style="color: black;" role="button">BACK</a>
    <br><br>
    <app-footer></app-footer>