<app-nav></app-nav><br><br><div class="container text-center">
    <b>MEET OUR TEAM</b><br>
    <b>We are all very different. We were born in different cities, at different times, we<br> love different music, food, movies. But we have something that unites us all. It is <br>our company. We are its heart. We are not just a team, we are a family.</b>
    
    <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>

      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/static/dev1.jpg" alt="zenna" height="500px" width="700px"> 
        </div>
                  </div>
      </div>
      <a href="#" class="btn btn-dark "  role="button" onclick="show()">CONTACT US</a>
      <p id="name"></p>  
      <p id="con"></p>               
      <p id="wish" style="color: blue ;"></p>               

  </div><app-footer></app-footer>