
<nav class="navbar navbar-expand-md navbar-light bg-dark fixed-top ">
    <a class="navbar-brand" href="#" style="color: blanchedalmond;">
      <i class="em em-books" aria-role="presentation" aria-label="BOOKS"></i>Sharing Knowledge</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="" style="color: blanchedalmond;">Home <span
              class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <br>
  <main>  <div class="imgcontainer">
      <img src="\assets\static\adminl.jpg" alt="Avatar" height="150px" width="50px" class="avatar rounded">
    </div>
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" [(ngModel)]="name" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="pswd" required>
  
      <label><b>Select Department</b></label> 
        <select class="form-control form-control-lg" [(ngModel)]="branch">
            <option>{{branch}}</option>
            <option>CE</option>
            <option>IT</option>
            <option>CHEM</option>
            <option>EC</option>
            <option>IC</option>
            <option>MECH</option>
            <option>CIVIL</option>
  
        </select>
        <br>
     
  
      <button type="submit" (click)="validate()">Login</button>
      <button  id="bt" class="btn btn-primary" routerLink ="" >Back</button>
     
    </div></main>
  
   
  