<body><app-navfac></app-navfac>
<main class="py-5">  
    <div class="container">
            <br>
            <div class=row>
                <div class="col-md-6">
                    <img src="assets\static\not1.jfif" class="rounded-circle" alt="Cinque Terre">
                    <label>This is the section for notice.<br>Must go through this.<br>Admin will Update Notice here</label>
                    <a routerLink="/viewnot" class="btn btn-light btn-block" role="button">GENERAL NOTICE</a>
                    
                    </div>
    
                    <div class="col-md-6">
                        <img src="assets\static\book1.jfif" class="rounded-circle" alt="Cinque Terre">
                        <label>You can Upload Books and <br> lecture materials here</label>
                        <a routerLink="/testf" (click)="fsub()" class="btn btn-light btn-block" role="button">UPLOAD BOOKS AND LECTURE MATERIALS</a>
    
                        </div>
        
                </div>
            <br>
                <div class="row">
                <div class="col-md-6">
                    <img src="assets\static\ass1.jfif" class="rounded-circle" alt="Cinque Terre">
                    <label>You can upload lab assignment here</label>
                    <a routerLink="/fassi" class="btn btn-light btn-block" role="button">UPLOAD LAB-ASSIGNMENT</a>
                
                    </div>
    
                    <div class="col-md-6">
                        <img src="assets\static\csub.jfif" class="rounded-circle" alt="Cinque Terre">
                        <label>Check student's submition from here </label>
                        <a routerLink="/csubmit" class="btn btn-light btn-block" role="button">CHECK SUBMITTION</a>
                  
                        </div>
        
                </div>
            <br>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <img src="assets\static\chat1.jfif" class="rounded-circle" alt="Cinque Terre">
                    <label>Let's chat</label>
                    <a routerLink="/con" class="btn btn-light btn-block" role="button">LET'S CHAT</a>
                
                    </div>
    
                    
                </div>
    
              
                </div>
    </main>
    <app-footer></app-footer></body>