<app-navstu></app-navstu>>
<main class="py-5">  
    <div class="container">
            <br>
            <div class=row>
                <div class="col-md-6">
                    <img src="assets\static\not1.jfif" class="rounded-circle" alt="Cinque Terre">
                    <label>This is the section for notice.<br>Must go through this.<br>Admin will Update Notice here</label>
                    <a routerLink="/viewnots" class="btn  btn-outline-dark btn-block" role="button">GENERAL NOTICE</a>
                    
                    </div>
    
                    <div class="col-md-6">
                        <img src="assets\static\book1.jfif" class="rounded-circle" alt="Cinque Terre">
                        <label>You can see Books and <br> lecture materials here</label>
                        <a  (click)="rsub()" class="btn  btn-outline-dark btn-block" role="button">BOOKS AND LECTURE MATERIALS</a>
    
                        </div>
        
                </div>
            <br>
                <div class="row">
                <div class="col-md-6">
                    <img src="assets\static\ass2.jfif" class="rounded-circle" alt="Cinque Terre">
                    <label>You can see your lab assignment <br> given by faculty here</label>
                    <a routerLink="/sassi" class="btn  btn-outline-dark btn-block" role="button">LAB-ASSIGNMENT</a>
                
                    </div>
    
                    <div class="col-md-6">
                        <img src="assets\static\csub.jfif" class="rounded-circle" alt="Cinque Terre">
                        <label> submit your assignment  here </label>
                        <a routerLink="/ssubmit" class="btn  btn-outline-dark btn-block" role="button">SUBMITTION</a>
                  
                        </div>
        
                </div>
            <br>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <img src="assets\static\c.png" class="rounded-circle" alt="Cinque Terre">
                    <label>you can ask doubt's to respective <br>faculty member</label>
                    <a routerLink="/com" class="btn  btn-outline-dark btn-block" role="button">LET'S CHAT</a>
                
                    </div>
    
                    
                </div>
    
              
                </div>
    </main>
    <app-footer></app-footer>
    