<app-navadmin></app-navadmin>
<body>
<div class="container " style="margin-left: 0px;"><br>
    <div class="row">
        <div class="col-md-3 " style="background-color: black;height: 650px;">
            <br>
            <div class="row">
                <div class="col">
                    <a class="nav-link text-center" routerLink="/addstudent" id="dd">ADD STUDENT
                        <span class="sr-only">(current)</span></a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <a class="nav-link text-center" routerLink="/remstudent" id="dd">REMOVE STUDENT
                        <span class="sr-only">(current)</span></a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <a class="nav-link text-center" routerLink="/addfaculty" id="dd">ADD FACULTY
                        <span class="sr-only">(current)</span></a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <a class="nav-link text-center" routerLink="/remfaculty" id="dd">REMOVE FACULTY
                        <span class="sr-only">(current)</span></a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <a class="nav-link text-center" routerLink="/addann" id="dd">UPLOAD NOTICE <span
                            class="sr-only">(current)</span></a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <a class="nav-link text-center" routerLink="/viewdet" id="dd">VIEW DETAILS <span
                            class="sr-only">(current)</span></a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
            <br>


        </div>
        
        <div id="dem" class="text-center"><br>
           <b> Manage Your Account!</b>
            </div>      
    </div>
  
</div>
</body>
<app-footer></app-footer>