<nav class="navbar navbar-expand-md navbar-light bg-dark fixed-top ">
    <a class="navbar-brand" href="#" style="color: blanchedalmond;">Stay Motivated!!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
           <!-- <a class="nav-link" href="tes.html" style="color: blanchedalmond;">Login</a>-->
           <div class="dropdown">
            <button class="btn btn-outline-light btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              login
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" routerLink="/admin">Admin</a>
              <a class="dropdown-item" routerLink="/faculty">Faculty</a>
              <a class="dropdown-item" href="student.html">Student</a>
            </div>
          </div> 
          </li>
        
        <li class="nav-item">
            <a class="nav-link" href="test.html" style="color: blanchedalmond;">About Us</a>
          </li>
        </ul>
    </div>
</nav>
