<app-navfac></app-navfac>
<main class="py-5">
    <br>

    <div class="container text-center">
        <table class="table table-dark table-hover">

            <thead>
                <tr>
                    <th scope="col">Subject</th>
                </tr>
            </thead>


            <tbody>
                <tr *ngFor="let d of fac">
                    <a class="btn btn-lg btn-dark btn-block" role="button" id={{d.fac_sub}}
                        (click)="disp(d.fac_branch,d.fac_sem,d.fac_sub)">{{d.fac_sub}}</a>


                </tr>
                <!--    <tr>
                        <td>
                            <div *ngFor="let d of submit">
                                {{d.name}}
                    
                            </div>
                        </td>
                        <td>
                            <div *ngFor="let d of submit">
                                <a class="btn btn-block btn-dark" href="assets\adminnotice\{{d.path}}" download= {{d.path}}>{{d.path}}</a>
                    
                            </div>
                        </td>
                    </tr>-->

                <!--  <tr  *ngFor="let d of submit">
                          <td>  <a class="btn btn-block btn-dark" href="assets\adminnotice\{{d.path}}" 
                            download= {{d.path}}>{{d.path}}</a>
                    
                          
                         </td>
                         
                        </tr>-->





            </tbody>


        </table>
    </div>
    <div class="container text-center">
        <table class="table table-dark table-hover">

            <thead thead-dark>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Submition</th>
                    <th scope="col">Assignment</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div *ngFor="let d of submit">
                           {{d.name}}
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let d of submit"> 
                         <a style="color:white;" class="btn btn-block" href="assets\adminnotice\{{d.path}}" 
                        download= {{d.path}}>{{d.path}} </a>
                            </div>
                      
                     </td>
                     <td>
                        <div *ngFor="let d of submit">
                          <p>  {{d.fpath}}</p>
                        </div>
                    </td>
                </tr>
            </tbody>
            </table>
            </div>
    <!-- <div *ngFor="let d of fac">
            <button class="btn btn-lg btn-primary" id={{d.fac_sub}}
                (click)="uplood(d.fac_branch,d.fac_sem,d.fac_sub)">{{d.fac_sub}}</button><br><br>

            <form class="md-form" [formGroup]="myform">
                <input type="file" id="upld" (click)="uplood(d.fac_branch,d.fac_sem,d.fac_sub)"
                    (change)="onFileChange($event)">

                <a class="btn btn-success  " (click)="save()" role="button">UPLOAD</a>

            </form>

        </div>-->


</main>
<app-footer></app-footer>